.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal {
    width: 300px;
    min-height: 150px;
    background-color: #fff;
    padding: 20px;
    text-align: center;
  }
  